 * {
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.068);
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.container {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.281)
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 62px;
    color: rgba(73, 8, 73, 0.26);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header {
    width: 100%;
    height: 65px;
    margin: 0;
    background: rgba(255, 255, 255, 0.651);
    display: flex;
    box-shadow: inset 0 -2px 1px rgb(0 0 0 / 10%);
}

.toggle-all {
    user-select: none;
    transform: rotate(90deg);
    padding-top: 15px;
    color: rgb(189, 189, 189);
    text-align: center;
    justify-content: center;
    width: 65px;
    font-size: 22px;
    background: none;
    display: block;
}
.toggle-all:active {
    color: black;
}

.newTask {
    width: 85%;
    padding: 0;
    display: block;
    background: none;
    border: none;
    outline: none;
    line-height: 1.4em;
    color: #000000ad;
    font-size: 20px;
}
input::placeholder {
    color: lightgray;
    font-style: italic;
}

.view {
    width: 100%;
    height: 58px;
    margin: 0;
    background: rgba(255, 255, 255, 0.651);
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.description {
    width: 85%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.toggle {
    min-width: 28px;
    min-height: 28px;
    margin: auto 10px auto 20px;
}

.label-text {
    background: none;
    font-size: 20px;
    width: 100%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 90%;
    hyphens:auto;
}

.task-text {
    visibility: hidden;
    background: none;
    font-size: 20px;
    width: 450px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.hidden-label {
    background: none;
    font-size: 20px;
    width: 450px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}

.button-edit {
    display: flex;
    margin: auto auto;
}

.edit-btn {
    background: none;
    display: block;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: rgb(55, 52, 87);
    margin-top: auto;
    margin-bottom: auto;
}

.delete-btn {
    background: none;
    display: block;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 3px;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: rgb(55, 52, 87);
}

.footer {
    background: rgba(255, 255, 255, 0.651);
    display: none;
    width: 100%;
    height: 40px;
    vertical-align: middle;
}

.todo-count {
    height: 20px;
    font-size: 16px;
    color: rgba(65, 65, 65, 0.753);
    margin: auto 0;
    padding-right: 34px;
}

.counter {
    margin: auto 5px auto 20px;
    height: 20px;
    color: rgba(65, 65, 65, 0.753);
}

.filters {
    display: inline;
    width: 48%;
    height: 20px;
    margin: auto auto;
    text-align: center;
    list-style: none;
    padding-inline-start: 0px;
}

.filter {
    display: inline;
    background: none;
    border-bottom: none;
    height: 20px;
}

.filter a {
    text-decoration: none;
    font-size: 16px;
    color: rgba(65, 65, 65, 0.753);
    background: none;
    margin: auto auto;
    padding: 3px 6px;
    height: 20px;
    cursor: pointer;
}

.selected {
    border: 1px solid rgba(73, 8, 73, 0.26);;
    border-radius: 3px;
}

.clear-completed {
    width: 28%;
    font-size: 16px;
    color: rgba(65, 65, 65, 0.753);
    background: none;
    cursor: pointer;
    border: none;
    height: 20px;
    margin: auto auto;
    padding: 0;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 1;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    border-radius: 20px;
    background-color: rgb(196, 196, 196);
    color: black;
    max-width: 800px;
    padding: 30px;
    position: relative;
}

.popup__title {
    font-size: 40px;
    margin: 0 0 1em 0;
}


.popup__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.popup__agr {
    text-decoration: none;
    color: black;
    border-style: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    background: white;
    text-transform: uppercase;

}